<img src="<%= asset_path('http://i.imgur.com/OXLQHPA.png') %>" height=15% width=15% >

<!-- 메뉴 -->

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">HOME</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          타바모 BEST
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">여성 의류 BEST</a>
          <a class="dropdown-item" href="#">신발·잡화 BEST</a>
          <a class="dropdown-item" href="#">남성 의류 BEST</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="home/bestbdj">배대지 BEST</a>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          여성 의류
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">아우터</a>
          <a class="dropdown-item" href="#">셔츠·블라우스</a>
          <a class="dropdown-item" href="#">상의</a>
          <a class="dropdown-item" href="#">하의</a>
          <a class="dropdown-item" href="#">스커트</a>
          <a class="dropdown-item" href="#">원피스</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          신발·잡화
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">여성 구두</a>
          <a class="dropdown-item" href="#">남성 구두</a>
          <a class="dropdown-item" href="#">스니커즈</a>
          <a class="dropdown-item" href="#">운동화</a>
          <a class="dropdown-item" href="#">슬리퍼</a>
          <a class="dropdown-item" href="#">샌들</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          남성 의류
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">아우터</a>
          <a class="dropdown-item" href="#">셔츠</a>
          <a class="dropdown-item" href="#">상의</a>
          <a class="dropdown-item" href="#">하의</a>
        </div>
      </li>
    </ul>
  </div>
</nav>